[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "flamingos"]
	path = flamingos
	url = https://github.com/fchamroukhi/flamingos
	shallow = true
	registered = true
[submodule "meteorits"]
	path = meteorits
	url = https://github.com/fchamroukhi/meteorits
	shallow = true
	registered = true
[submodule "samurais"]
	path = samurais
	url = https://github.com/fchamroukhi/samurais
	shallow = true
	registered = true
